---
import { Image } from "astro:assets";
import about from "../assets/atlantacarwebsite.jpg";
import suv from "../assets/SUV.png";
import town from "../assets/Town.png";
import Van from "../assets/Van.png";
import Limousine from "../assets/Limousine.png";
---

<div
  id="about-us"
  class="relative flex items-center justify-center overflow-hidden"
>
  <div
    class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8"
  >
    <div class="flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 text-center lg:mb-20">
          <p class="text-primary mb-2 block text-lg font-semibold">About Us</p>
          <h1
            class="text-dark dark:text-gray-900 mb-3 leading-[1.2] md:text-[40px]"
          >
            <span class="font-bold text-3xl sm:text-4xl"
              >ORLANDO SUPERIOR TRANSPORTATION</span>
          </h1>

          <h2 class="mt-2 text-xl/9 leading-7">
            Best Orlando Transportation Services for Your Orlando Travel Needs!
          </h2>
        </div>
        <p class="text-center text-body-color text-base dark:text-dark-6">
          <Image
            src={about}
            alt="About Orlando Transportations Service"
            loading="eager"
            style={{ objectFit: "contain" }}
            class="mx-auto max-w md:max-w-xl"
          />
          <br />
          <b>At Orlando Superior Transportation, sustainability is at the core  of our values.</b>
          <br /><br />

          We prioritize delivering top-notch Orlando transportation services by investing in the training of our drivers, upholding the highest standards in ground transportation, vehicle maintenance, and guaranteeing punctuality for our valued customers.

          <br /><br />
          Our commitment to excellence extends to our private transportation services, which include our luxury black car services with professional chauffeured service, providing you with the ultimate comfort and safety. In addition to our private luxury town car service, we also offer limo service in luxury SUVs, luxury vans, and limousines.
          <br /><br />
          Our goal is to provide our customers with a top-tier experience, ensuring their comfort, convenience, and satisfaction throughout their journey with us.
        </p>
        <a
          href="/book-a-ride/"
          class="mt-5 block max-w md:max-w-max mx-auto text-center p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r"
        >
          <span
            class="block text-black py-2 px-8 pb-3 leading-5 text-lg font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition"
          >
            <span class="block text-xs">Orlando Superior Transportation</span>
            Book a Reservation</span
          >
        </a>
      </div>
    </div>
  </div>
</div>

<!-- component -->
<section class="py-10 pt-0 relative px-2 md:px-0" id="fleet">
  <div class="container">
    <div class="mx-auto max-w-4xl text-center">
      <p
        class="text-dark dark:text-gray-900 mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]"
      >
        Our Fleet
    </p>
      <p class="mt-6 text-xl/9 leading-7">
        At Orlando Superior Transportation, we ensure we have the perfect fleet for every occasion. From our private luxury town car service to our limo service featuring luxury SUVs, vans, and limousines, we provide top-notch transportation tailored to your needs.
      </p>
    </div>

    <div class="grid lg:grid-cols-4 grid-cols-1 gap-10 2xl:px-28 mt-20">
      <div
        class="flex relative flex-col border bg-white border-gray-300 rounded-xl dark:border-gray-700"
      >
        <div class="absolute top-0 inset-x-0">
          <div class="flex justify-center">
            <h2
              class="text-base font-medium uppercase border border-gray-700 text-white bg-black px-2 py-1 rounded-md -mt-3"
            >
              Luxury SUVs
            </h2>
          </div>
        </div>
        <div class="text-center pt-10 mx-auto block">
          <Image
            src={suv}
            loading="eager"
            alt="Suv Car"
            style={{ objectFit: "contain" }}
          />
        </div>

        <div class="p-5">
          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              6 Passengers
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              6 Suitcases
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              2 Booster Seats
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              2 Car Seat
            </p>
          </div>

          <div class="flex justify-center mt-4 pt-4">
            <a
              href="/book-a-ride/"
              class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r"
            >
              <span
                class="block text-black px-4 py-2 font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition"
                >Book Now</span
              >
            </a>
          </div>
        </div>
      </div>

      <div
        class="flex relative flex-col border bg-white border-gray-300 rounded-xl dark:border-gray-700"
      >
        <div class="absolute top-0 inset-x-0">
          <div class="flex justify-center">
            <h2
              class="text-base font-medium uppercase border border-gray-700 text-white bg-black px-2 py-1 rounded-md -mt-3"
            >
              Luxury Sedans
            </h2>
          </div>
        </div>
        <div class="text-center pt-10 mx-auto block">
          <Image
            src={town}
            loading="eager"
            alt="Suv Car"
            style={{ objectFit: "contain" }}
          />
        </div>

        <div class="p-5">
          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              4 Passengers
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              4 Suitcases
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              1 Booster Seat
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              1 Car Seat
            </p>
          </div>

          <div class="flex justify-center mt-4 pt-4">
            <a
              href="/book-a-ride/"
              class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r"
            >
              <span
                class="block text-black px-4 py-2 font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition"
                >Book Now</span
              >
            </a>
          </div>
        </div>
      </div>

      <div
        class="flex relative flex-col border bg-white border-gray-300 rounded-xl dark:border-gray-700"
      >
        <div class="absolute top-0 inset-x-0">
          <div class="flex justify-center">
            <h2
              class="text-base font-medium uppercase border border-gray-700 text-white bg-black px-2 py-1 rounded-md -mt-3"
            >
              Luxury Vans
            </h2>
          </div>
        </div>
        <div class="text-center pt-10 mx-auto block">
          <Image
            src={Van}
            loading="eager"
            alt="Suv Car"
            style={{ objectFit: "contain" }}
          />
        </div>

        <div class="p-5">
          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              10 Passengers
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              12 Suitcases
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              2 Booster Seat
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              2 Car Seat
            </p>
          </div>

          <div class="flex justify-center mt-4 pt-4">
            <a
              href="/book-a-ride/"
              class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r"
            >
              <span
                class="block text-black px-4 py-2 font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition"
                >Book Now</span
              >
            </a>
          </div>
        </div>
      </div>

      <div
        class="flex relative flex-col border bg-white border-gray-300 rounded-xl dark:border-gray-700"
      >
        <div class="absolute top-0 inset-x-0">
          <div class="flex justify-center">
            <h2
              class="text-base font-medium uppercase border border-gray-700 text-white bg-black px-2 py-1 rounded-md -mt-3"
            >
              Limousines
            </h2>
          </div>
        </div>
        <div class="text-center pt-10 mx-auto block">
          <Image
            src={Limousine}
            loading="eager"
            alt="Suv Car"
            style={{ objectFit: "contain" }}
          />
        </div>

        <div class="p-5">
          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              10 Passengers
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              6 Suitcases
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              1 Booster Seat
            </p>
          </div>

          <div class="flex justify-center mt-2 pt-1">
            <svg
              viewBox="0 0 512 512"
              class="flex flex-col items-center"
              width="16px"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >

            <p class="flex flex-col ps-2 font-medium dark:text-gray-300">
              1 Car Seat
            </p>
          </div>

          <div class="flex justify-center mt-4 pt-4">
            <a
              href="/book-a-ride/"
              class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r"
            >
              <span
                class="block text-black px-4 py-2 font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition"
                >Book Now</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center font-medium mt-14" id="transportation-services">
      lnterested in a custom plan? <a href="/contact/" class="text-purple-500"
        >Get in touch</a>
    </p>
  </div>
</section>
