
---
import banner1 from '../assets/airporttransport-banner.png';
import banner2 from '../assets/disney-banner.png';
import banner3 from '../assets/universal-banner.png';
import banner4 from '../assets/excutive-banner.png';
import banner5 from '../assets/wedding-banner.png';
import banner6 from '../assets/cruise-banner.png';
import { Image } from 'astro:assets';
---

<div class="text-center md:text-left" >
				<div id="default-carousel" class="relative w-full overflow-hidden" data-carousel-interval="7000"  data-carousel="slide"  >

					
						<!-- Carousel wrapper -->
						<div class="relative grid grid-cols-1 md:lg:xl:grid-cols-2 items-center h-screen">
							
							
							
							<!-- Item 1 -->
							<div class="hidden duration-9000 ease-linear w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-12/12" >
										<h3 class="text-uppercase text-base font-normal pb-0 md:pb-4">Orlando Airport Transportation</h3>
										
										<p class="text-5xl md:text-7xl font-extrabold"><span class="text-yellow-700">Airport Transportation</span> Made Easy!</p>
										
										<p class="p-lg mt-5 mb-4"> Providing smooth rides and ensuring on-time arrivals with our reliable airport transportation services in Orlando.
				</p>
						
						
				<a href="/book-a-ride/"  class="hidden md:block max-w-max  text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
					<span class="block text-black py-2 px-8 pb-3 leading-5 text-lg font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">
						<span class="block text-xs ">Orlando Superior Transportation</span>
						Book a Reservation</span>
				  </a>
	
	
	
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner1} loading="eager" alt="Airport Transportation" style={{objectFit: "contain"}} />
										
									</div>
								</div>


							</div>
							

<!-- Item 2 -->
							
<div class="hidden duration-9000 ease-linear w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

	<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
		<div class="grid sm:w-12/12  md:w-12/12" >
			<h3 class="text-uppercase text-base font-normal pb-0 md:pb-4">Disney World And Nearby Resorts Transportation</h3>
			<p class="text-5xl md:text-7xl font-extrabold">Experience
				<span class="text-yellow-700"> Disney Magic!</span></p>
			<p class="p-lg mt-5 mb-4"> We ensure a secure and enjoyable travel experience during your visit with our superior transport services.
</p>


<a href="/book-a-ride/" class="hidden md:block max-w-max  text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
<span class="block text-black py-2 px-8 pb-3 leading-5 text-lg font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">
<span class="block text-xs ">Orlando Superior Transportation</span>
Book a Reservation</span>
</a>
		</div>
		
		<div class="w-full  grid justify-items-end sm:justify-items-center" >
			<Image src={banner2} loading="eager"  alt="Disney World" style={{objectFit: "contain"}} />
			
		</div>
	</div>


</div>

							<!-- Item 3 -->
							<div class="hidden duration-9000 ease-linear w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-12/12" >
										<h3 class="text-uppercase text-base font-normal pb-0 md:pb-4">Universal Studios And Nearby Resorts Transportation</h3>
										<p class="text-5xl md:text-7xl font-extrabold"><span class="text-yellow-700">Universal Thrills </span>Await! </p>
										<p class="p-lg mt-5 mb-4"> Unleash adventure with our seamless transportation to Universal Studios Orlando!
						</p>
						
						<a href="/book-a-ride/" class="hidden md:block max-w-max  text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
							<span class="block text-black py-2 px-8 pb-3 leading-5 text-lg font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">
								<span class="block text-xs ">Orlando Superior Transportation</span>
								Book a Reservation</span>
						  </a>
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner3} loading="eager" alt="Universal Thrills" style={{objectFit: "contain"}} />
										
									</div>
								</div>


							</div>


							<!-- Item 4 -->
							<div class="hidden duration-9000 ease-linear w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-12/12" >
										<h3 class="text-uppercase text-base font-normal pb-0 md:pb-4">Corporate Transfers</h3>
										<p class="text-5xl md:text-7xl font-extrabold">Arrive like a <span class="text-yellow-700">Boss! </span></p>
										<p class="p-lg mt-5 mb-4"> Elevate your business travel experience with our superior executive transportation services in Orlando.
						</p>
						
						
						<a href="/book-a-ride/" class="hidden md:block max-w-max  text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
							<span class="block text-black py-2 px-8 pb-3 leading-5 text-lg font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">
								<span class="block text-xs ">Orlando Superior Transportation</span>
								Book a Reservation</span>
						  </a>
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner4} loading="eager" alt="Executive Transportation" style={{objectFit: "contain"}}  />
										
									</div>
								</div>


							</div>


							<!-- Item 5 -->
							<div class="hidden duration-9000 ease-linear w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-12/12" >
										<h3 class="text-uppercase text-base font-normal pb-0 md:pb-4">Wedding Limousine</h3>
										<p class="text-5xl md:text-7xl font-extrabold">Your Dream <span class="text-yellow-700">Wedding Ride!</span></p-1>
										<p class="p-lg mt-5 mb-4"> Make your special day even more memorable with our exquisite wedding limo services. 

										</p>
						
						
										<a href="/book-a-ride/" class="hidden md:block max-w-max  text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
											<span class="block text-black py-2 px-8 pb-3 leading-5 text-lg font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">
												<span class="block text-xs ">Orlando Superior Transportation</span>
												Book a Reservation</span>
										  </a>
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner5} loading="eager"  alt="Wedding Limo" style={{objectFit: "contain"}} />
										
									</div>
								</div>


							</div>


							<!-- Item 6 -->
							<div class="hidden duration-9000 ease-linear w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-12/12" >
										<h3 class="text-uppercase text-base font-normal pb-0 md:pb-4">Cruise Transfers</h3>
										<p class="text-5xl md:text-7xl font-extrabold"><span class="text-yellow-700">Wave</span> Goodbye to  Travel Stress! </p>
										<p class="p-lg mt-5 mb-4"> Let us navigate you to your cruise adventure with our reliable quality transportation services in Orlando.</p>
						
						
										<a href="/book-a-ride/" class="hidden md:block max-w-max  text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
											<span class="block text-black py-2 px-8 pb-3 leading-5 text-lg font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">
												<span class="block text-xs ">Orlando Superior Transportation</span>
												Book a Reservation</span>
										  </a>
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner6} loading="eager" alt="Cruise Transportation" style={{objectFit: "contain"}} />
										
									</div>
								</div>


							</div>
						</div>
						
					

				</div>




			
			</div>