---
import { Image } from 'astro:assets';
import disney from '../assets/disney.jpg';
import airport from '../assets/airport.jpg';
import universal from '../assets/universal.jpg';
import excutive from '../assets/excutive.jpg';
import wedding from '../assets/wedding.jpg';
import cruise from '../assets/cruise.jpg';
import client1 from '../assets/clients/client1.png';
import client2 from '../assets/clients/client2.png';
import client3 from '../assets/clients/client3.png';
import client4 from '../assets/clients/client4.png';
import client5 from '../assets/clients/client5.png';
import client6 from '../assets/clients/client6.png';
import client7 from '../assets/clients/client7.png';
import client8 from '../assets/clients/client8.png';



---	


    <!-- ====== Services Section Start -->
    <section class="pt-10 block w-full">
      <div class="container mx-auto">
         <div class=" flex flex-wrap">
            <div class="w-full px-4">
               <div class="mx-auto mb-12 text-center lg:mb-20">
                  <h2 class="text-primary mb-2 block text-lg font-semibold">
                     Private Transportation Services That We Offer
                  </h2>
                  <h2
                     class="text-dark dark:text-gray-900 mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]"
                     >
                     Orlando Superior Transportation Services
                  </h2>
                  <p class="text-body-color text-base dark:text-dark-6">
                     we offer reliable and luxurious limo and transport services in a town car, SUV, or limo, catering to your specific needs.
                  </p>
               </div>
            </div>
         </div>
         <div class="flex flex-wrap">
            <div class="w-full px-4 md:w-1/2 lg:w-1/3 flex flex-col">
               <div
                  class="flex flex-col mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-lg hover:shadow-xl md:px-7 xl:px-10 flex-1"
                  >
                  <div
                     class="bg-primary mb-8 flex justify-center"
                     >
                     <Image src={airport} class="p-2 rounded-full bg-black-500 text-white shadow-lg shadow-black-200" alt="Airport Transportation" style={{objectFit: "contain"}}>
    
                  </div>
                  <h2 class="text-dark dark:text-gray-900 mb-[14px] text-2xl font-semibold tracking-tight">
                    Airport Transportation
                  </h2>
                  <p class="text-body-color dark:text-dark-6">
                    We provide a luxurious fleet, where comfort meets elegance, setting the stage for a journey that's not just secure but also a delightful experience.<br/><br/>Whether it's the convenience of our MCO to Port Canaveral transfers, seamless transportation to Orlando Airport, or the personalized touch of our chauffeur services and black car services – each service is designed to bring a unique touch to your travel experience, ensuring a memorable and enjoyable journey with us.
                  </p>
    
                  <br class="hidden md:block">
                  <br class="hidden md:block">
                  <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                     <a href="/book" class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
                        <span class="block text-black px-4 py-2 ffont-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">Book Now</span>
                      </a>
                     </div>
               </div>
               
            </div>
          <div class="w-full px-4 md:w-1/2 lg:w-1/3 flex flex-col">
               <div
                  class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-lg hover:shadow-xl md:px-7 xl:px-10 flex-1"
                  >
                  <div
                     class="bg-primary mb-8 flex justify-center"
                     >
                     <Image src={disney} class="p-2 rounded-full bg-black-500 text-white shadow-lg shadow-black-200" alt="Disney Transportation" style={{objectFit: "contain"}}>
    
                  </div>
                  <h2 class="text-dark dark:text-gray-900 mb-[14px] text-2xl font-semibold tracking-tight">
                    Disney Transportation 
                  </h2>
                  <p class="text-body-color dark:text-dark-6">
                   We offer a trustworthy and comfortable Disney World transportation service tailored to pick you up from your chosen location and seamlessly drop you off at Disney World and the nearby resorts. <br><br>Whether you're planning a family vacation or embarking on a tourism adventure, let us be your preferred choice for ensuring a secure and enjoyable journey as you explore the magic of the iconic theme parks and the diverse tourist attractions Orlando has to offer, including the renowned Walt Disney World Resort.


                  </p>
    
                  <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                     <a href="/book" class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
                        <span class="block text-black px-4 py-2 ffont-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">Book Now</span>
                      </a>
                     </div>
               </div>
               
            </div>
            <div class="w-full px-4 md:w-1/2 lg:w-1/3 flex flex-col">
               <div
                  class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-lg hover:shadow-xl md:px-7 xl:px-10 flex-1"
                  >
                  <div
                     class="bg-primary mb-8 flex justify-center"
                     >
                     <Image src={universal} class="p-2 rounded-full bg-black-500 text-white shadow-lg shadow-black-200" alt="Universal Studios Transportation" style={{objectFit: "contain"}}>
    
                  </div>
                  <h2 class="text-dark dark:text-gray-900 mb-[14px] text-2xl font-semibold tracking-tight">
                    Universal Studios Transportation

                  </h2>
                  <p class="text-body-color dark:text-dark-6">
                   
                   We assure dependable and comfortable ground transportation services from your chosen location to Universal Studios and the adjacent theme parks and resorts. <br><br> Whether you're planning a family vacation or embarking on a tourism adventure to discover all that Orlando has to offer, let us be your top choice as you explore the wonders of Universal Orlando Resort.




                  </p>
    
                  <br class="hidden md:block">
                  <br class="hidden md:block">
                  <div class="mt-14 md:mt:10 flex items-center justify-center gap-x-6 lg:justify-start">
                     <a href="/book" class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
                        <span class="block text-black px-4 py-2 ffont-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">Book Now</span>
                      </a>
                      </div>
               </div>
               
            </div>
            
            

            <div class="w-full px-4 md:w-1/2 lg:w-1/3 flex flex-col">
               <div
                  class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-lg hover:shadow-xl md:px-7 xl:px-10 flex-1"
                  >
                  <div
                     class="bg-primary mb-8 flex justify-center"
                     >
                     <Image src={excutive} class="p-2 rounded-full bg-black-500 text-white shadow-lg shadow-black-200" alt="Executive Transportation" style={{objectFit: "contain"}}>
    
                  </div>
                  <h2 class="text-dark dark:text-gray-900 mb-[14px] text-2xl font-semibold tracking-tight">
                    Executive Transportation


                  </h2>
                  <p class="text-body-color dark:text-dark-6">
                   
                  
                  Experience the epitome of VIP transportation with our private car service and executive car service for corporate travels in Orlando. Our commitment extends beyond efficiency to create a seamless and comfortable transportation experience, ensuring you not only reach your destination promptly but also in the epitome of style. <br><br>Whether it's our chauffeured services for corporate events, facilitating business travelers, or delivering luxury black car service for a touch of sophistication - each detail is tailored to redefine your expectations of premium transportation.





                  </p>
    
                  <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                     <a href="/book" class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
                        <span class="block text-black px-4 py-2 ffont-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">Book Now</span>
                      </a>
                      </div>
               </div>
               
            </div>



<div class="w-full px-4 md:w-1/2 lg:w-1/3 flex flex-col">
               <div
                  class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-lg hover:shadow-xl md:px-7 xl:px-10 flex-1"
                  >
                  <div
                     class="bg-primary mb-8 flex justify-center"
                     >
                     <Image src={wedding} class="p-2 rounded-full bg-black-500 text-white shadow-lg shadow-black-200" alt="Wedding Limo" style={{objectFit: "contain"}}>
    
                  </div>
                  <h2 class="text-dark dark:text-gray-900 mb-[14px] text-2xl font-semibold tracking-tight">
                    Wedding Limousine


                  </h2>
                  <p class="text-body-color dark:text-dark-6">
                   
                  
                
                We specialize in offering luxury limousine services tailored for your wedding day. Immerse yourself in the luxury and charm of our wedding limo, providing an unforgettable experience for your special day. Our expert chauffeurs are dedicated to ensuring you're picked up with style and comfort, infusing an extra touch of elegance into every moment. <br><br>With our private limo service, your wedding day becomes a seamless and enchanting celebration, leaving you with cherished memories that last a lifetime.






                  </p>

                  
                  <br class="hidden md:block">
                  <br class="hidden md:block">
    
                  <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                     <a href="/book" class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
                        <span class="block text-black px-4 py-2 ffont-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">Book Now</span>
                      </a>
                        </div>
               </div>
               
            </div>


            
            
            
            
<div class="w-full px-4 md:w-1/2 lg:w-1/3 flex flex-col">
               <div
                  class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-lg hover:shadow-xl md:px-7 xl:px-10 flex-1"
                  >
                  <div
                     class="bg-primary mb-8 flex justify-center"
                     >
                     <Image src={cruise} class="p-2 rounded-full bg-black-500 text-white shadow-lg shadow-black-200" alt="Cruise Transportation" style={{objectFit: "contain"}}>
    
                  </div>
                  <h2 class="text-dark dark:text-gray-900 mb-[14px] text-2xl font-semibold tracking-tight">
                    Cruise Transportation

                  </h2>
                  <p class="text-body-color dark:text-dark-6">
                   
                  
              
              Our luxury transportation services seamlessly connect you to and from Orlando to Port Canaveral, ensuring your cruise experience begins with a touch of elegance. <br><br>With our ground transportation services, you can expect nothing short of excellence – from the moment you step into our fleet to the personalized care of our chauffeured services. Your journey with us is not just a transfer; it's a seamless and luxurious prelude to an unforgettable cruise adventure.






                  </p>
    
                  <br class="hidden md:block">
                  <br class="hidden md:block">
                  <br class="hidden md:block">
                  <br class="hidden md:block">
                  <div class="mt-10 flex items-center justify-items-end gap-x-6 ">
                     <a href="/book" class="block p-1 w-full text-center rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
                        <span class="block text-black px-4 py-2 ffont-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">Book Now</span>
                      </a>
                       </div>
               </div>
               
            </div>

         </div>
         
      </div>
    </section>
    <!-- ====== Services Section End -->


           <div class="flex flex-col mx-3 rounded-lg">
            <div class="w-full draggable">
    <div class="container flex flex-col items-center gap-8 mx-auto my-10">
      <p class="text-base font-medium leading-7 text-center text-dark-grey-600">Endorsed by the premier 500 global corporations</p>
      <div class="flex flex-wrap items-center justify-center w-full gap-6 lg:gap-0 lg:flex-nowrap lg:justify-between">
        <span>
          <Image src={client1} class="p-2" alt="Orlando Transportations Service Client" style={{objectFit: "contain"}}>
        </span>
        <span>
        <Image src={client2} class="p-2" alt="Orlando Transportations Service Client" style={{objectFit: "contain"}}>
        </span>
        <span>
        <Image src={client3} class="p-2" alt="Orlando Transportations Service Client" style={{objectFit: "contain"}}>
        </span>
        <span>
        <Image src={client4} class="p-2" alt="Orlando Transportations Service Client" style={{objectFit: "contain"}}>
        </span>

        <span>        
        <Image src={client5} class="p-2" alt="Orlando Transportations Service Client" style={{objectFit: "contain"}}>
        </span>
        
        <span>        
        <Image src={client6} class="p-2" alt="Orlando Transportations Service Client" style={{objectFit: "contain"}}>
        </span>

        
        <span>        
        <Image src={client7} class="p-2" alt="Orlando Transportations Service Client" style={{objectFit: "contain"}}>
        </span>
      </div>
    </div>
  </div>

        

    </div>


    <div id="faq" class="grid grid-cols-1 md:lg:xl:grid-cols-2 mb-10 bg-indigo-600 shadow-xl shadow-indigo-200 py-10 px-5 md:px-20 justify-between items-center">
      <h3  class=" text-white w-100"> <span class="text-4xl font-medium">Commitment to excellence
</span> <br> <span class="text-lg">Orlando's Best Transportation Service</span></h3>
      <a href="/book" class="w-auto px-5 py-3  font-medium text-slate-700 shadow-xl  duration-150  border-yellow-400 bg-yellow-300 hover:bg-white rounded text-center">BOOK A RESERVATION </a>
  </div>